{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/style.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="/bootstrap4-glyphicons/maps/glyphicons.fontawesome.min.css" type="text/css">


    </head>
    <body>

        {% block nav %}
        <!--<nav class="navbar navbar-dark fixed-top navbar-expand-md"-->
<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top"> -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" role="navigation">
    <div class="container-fluid">

<!-- brand & toggle get grouped for better mobile display -->

      <div class="navbar-header">
         <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
           <span class="sr-only"></span>
           <span class="sr-only"></span>
           <span class="sr-only"></span>
           <i class="fas fa-bars"></i>
         </button>
         <a class="navbar-brand" href="{% url 'random' %}"><i class="fab fa-wikipedia-w"></i> <i class="fab fa-wiki">   wikipedia</i></a>
      </div>

<!--collect the nav links, forms, and other content for toggling-->

      <div class="navbar-collapse collapse in" id="navbar">
       <ul class="nav navbar-nav">

         <li class="active nav-item"> <a href="{% url 'index' %}" class="nav-link" data-toggle="tooltip" title="Home">
           <i class="fas fa-home"></i> Home</a></li>
         <li class="active nav-item"><a href="{% url 'newEntry' %}" class="nav-link" data-toggle="tooltip" title="Create content"><i class="fas fa-pen"></i> Create content</a>

      </ul>

      <ul class="nav navbar-nav navbar-right">
         <li class="dropdown active nav-item ml-auto">
           <a class="dropdown-toggle nav-link" data-toggle="dropdown" title="info" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-info"></i> info<b class="caret"></b></a>

            <ul class="dropdown-menu">
              <li class="dropdown-item">  <a  href="#">Reference</a></li>
              <li class="dropdown-item"> <a href="#">Help center</a></li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-item">  <a href="#">About Us</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right ml-auto">
               <form action="{% url 'search' %}" class="navbar-form navbar-right ml-auto" role="search">

                   <input class="form-control" type="text" name="q" placeholder="Search Encyclopedia"><i class="fa-solid fa-magnifying-glass"></i>

               </form>

            <li class="dropdown active nav-item ml-3">
              <a class="dropdown-toggle nav-link" data-toggle="dropdown" title="User" data-placement="top"> <i class="fas fa-user"></i> User</a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><i class="fas fa-sign-in-alt"></i><a href="{% url 'signin' %}">  Sign in</a></li>
                <li class="dropdown-item"><i class="fas fa-sign-out-alt"></i>  Sign out</li>
              </ul>
            </li>
        </ul>

    </div><!-- navbar collapse -->
  </div><!-- container fluid -->
 </nav>

      <br>
        <div style="margin-top:26px;"></div>
        {% endblock %}

        <div class="row">
             <div class="sidebar col-lg-2 col-md-3">

                        <h1><i class="fab fa-wiki">Wiki</i></h1>
                        <form action="{% url 'search' %}">
                            <input class="form-control" type="text" name="q" placeholder="Search Encyclopedia">
                        </form>
                        <div>
                            <a href="{% url 'index' %}">Home</a>
                        </div>
                        <div>
                            <a href="{% url 'newEntry' %}">Create New Page</a>
                        </div>
                        <div>
                          <a href="{% url 'random' %}"> Random Page </a>
                        </div>
             </div>



              <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>




    </body>
</html>
